!!! 5
html
  head
    title Ajax IM
    script(src='/js/jquery-1.4.1.js', type='text/javascript')
    script(src='/js/md5.js', type='text/javascript')
    script(src='/js/store.js', type='text/javascript')
    script(src='/js/cookies.js', type='text/javascript')
    script(src='/js/dateformat.js', type='text/javascript')
    script(src='/js/im.js', type='text/javascript')
    script(type='text/javascript')
      $(function(){var im = AjaxIM.init({theme: "/themes/default"});});
  body Hello.